{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<script>
    function previewImage(input) {
        var preview = document.getElementById('image-preview');
        var file = input.files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }
    }
</script>

<style>
    #image-preview {
        display: none;
    }
</style>

<div class="h-5 d-inline-block"></div>
<div class="col-10 offset-md-1 d-flex justify-content-center form-spacer">
    <div class="col-9 text-white form-container">
        <div class="h-20 d-inline-block"></div>
        <form method="post" style="margin-top: 1.3em;" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}

            {% if form.instance.featured_image %}
            <img id="image-preview" src="{{ form.instance.featured_image.url }}" alt="Image Preview" style="max-width: 200px;">
            {% endif %}
            <br>

            <button type="submit" class="btn btn-signup btn-lg">Submit</button>
        </form>
        <div class="h-20 d-inline-block"></div>
    </div>
</div>
<div class="h-5 d-inline-block"></div>
{% endblock %}